extends layout

block content
    container
      h1(class="subtitle")= h1
      div(class="columns")
        div(class="column")
        div(class="column is-three-quarters content")
          if errors
            ul
              for error in errors
                div.alert.alert-danger #{error}
          div
            form(action="/user/login" method="POST")
              div(class="field")
                label(class="label") Username
                  div(class="control")
                    input(class="input" type="text" placeholder="Username" name="username")
              div(class="field")
                label(class="label") Password
                  div(class="control")
                    p(class="control has-icons-left")
                      input(class="input" type="password" name="password")
                      span(class="icon is-small is-left")
                        i.fas.fa-lock
              div(class="button-box")
                button(class="button is-primary is-fullwidth" native-type="submit" name="submit" value="submit") Login
        div(class="column")